<ion-content [fullscreen]="true">
  <h1>Pokédex</h1>

  <ion-grid>
    <ion-row>
      <ion-col size-xs="12" size-sm="6" *ngFor="let pokemon of listaPokemon">
        <ion-card color="grass">
          <ion-card-header>
            <ion-card-subtitle class="ion-text-end">#001</ion-card-subtitle>
            <ion-card-title>{{pokemon.name | uppercase}}</ion-card-title>
          </ion-card-header>
          <ion-card-content class="flex">
            <span class="ion-text-center">
              <ion-badge color="grass">Grass</ion-badge>
              <ion-badge color="poison">Poison</ion-badge>
            </span>
            <img
              class="ion-float-right"
              src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/001.png"
              alt=""
            />
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
