<ion-content [fullscreen]="true">
  <h1>Pokédex</h1>

  <ion-grid>
    <ion-row>
      <ion-col size-xs="12" size-sm="6">
        <ion-card color="grass">
          <ion-card-header>
            <ion-card-subtitle class="ion-text-end">#001</ion-card-subtitle>
            <ion-card-title>Bulbasaur</ion-card-title>
          </ion-card-header>
          <ion-card-content class="flex">
            <span class="ion-text-center">
              <ion-badge color="grass">Grass</ion-badge>
              <ion-badge color="poison">Poison</ion-badge>
            </span>
            <img class="ion-float-right" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/001.png" alt="">
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size-xs="12" size-sm="6">
        <ion-card color="fire">
          <ion-card-header>
            <ion-card-subtitle class="ion-text-end">#004</ion-card-subtitle>
            <ion-card-title>Charmander</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <span class="ion-text-center">
              <ion-badge color="fire">Fire</ion-badge>
            </span>
            <img class="ion-float-right" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/004.png" alt="">
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size-xs="12" size-sm="6">
        <ion-card color="water">
          <ion-card-header>
            <ion-card-subtitle class="ion-text-end">#007</ion-card-subtitle>
            <ion-card-title>Squirtle</ion-card-title>
          </ion-card-header>
          <ion-card-content class="flex">
            <span class="ion-text-center">
              <ion-badge color="water">Water</ion-badge>
            </span>
            <img class="ion-float-right" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/007.png" alt="">
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size-xs="12" size-sm="6">
        <ion-card color="electric">
          <ion-card-header>
            <ion-card-subtitle class="ion-text-end">#025</ion-card-subtitle>
            <ion-card-title>Pikachu</ion-card-title>
          </ion-card-header>
          <ion-card-content class="flex">
            <span class="ion-text-center">
              <ion-badge color="electric">Electric</ion-badge>
            </span>
            <img class="ion-float-right" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/025.png" alt="">
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
